[Desktop Entry]
Encoding=UTF-8
Name=Lunarium
Comment=Lunarium P2P Cryptocurrency
Comment[fr]=Lunarium, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Lunarium, eşten eşe kriptografik sanal para birimi
Exec=lunarium-qt %u
Terminal=false
Type=Application
Icon=lunarium128
MimeType=x-scheme-handler/lunarium;
Categories=Office;Finance;
